.app__header{
	text-align: center;
}

.app__btn{
	display: block;
	width:300px;
	height:50px;
	margin:2vh auto;
	border-radius:5px;
}

.app__btn:hover{
	opacity: 0.9;
	cursor:pointer;
}

.app__btn_start{
	background: green;
	color:white;
}

.app__btn_stop{
	background: red;
	color:black;
}

.app__field{
	width:100%;
	height:50vh;
}

.app__field-line{
	height:40px;
	display:flex;
	justify-content:center;
}

.app__cell{
	height:100%;
	width:40px;
	background: Gainsboro;
}

.app__cell_player{
	background-color:green;
	color: white;
	position: relative;
	border:1px solid black;
	box-sizing: border-box;
}

.app__cell_aim{
	background-color:red;
	position:relative;
	border:1px solid black;
	box-sizing: border-box;
}

.app__score{
	position:absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
}